html, body {
    width:100%;
    height:100%;
    background-color: #1E2A38;
    padding: 0;
    margin: 0;
}

.section-nav{
    background-color: #E67225;
}

.light-orange {
    background-color: #FAE59C;
}

.section-main-content > .container {
    color:black;
}

.section-main-content {
    height: 100%;
    width: 100%;
    text-align: center;
}

.section-main-content > .stock-url {
    color: white;
}

.section-main-content > .stock-url > a {
    color: inherit;
    text-decoration: underline;
}